.header .logo {
    float: none;
    margin: 40px auto 30px;
    display: block;
}

.header .logo-image {
    background-size: 51px 40px;
    height: 40px;
    width: 51px;
    background-image: url(/images/munch_logo_51x40.png);
}

.btn-facebook:hover, .btn-munch:hover {
    cursor: pointer;
}

.btn-facebook {
    background-color: #3b5998;
    color: white;
}

.btn-munch {
    background-color: #FFB300;
    color: white;
}

.signup-terms p {
    font-size: 11px;
}

.login-form .btn {
    font-weight: 400;
    line-height: 1.25;
    padding: 16px 27px;
    font-size: 1rem;
}

.login-form h5 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form input {
    padding-top: 16px;
    padding-bottom: 16px;
}

.login-divider {
    margin-top: 7px;
    margin-bottom: 7px;
}

.create-account {
    text-align: center;
}

.create-account a, .forget-password a {
    color: #14ADCC;
}

.signup-form .btn {
    font-weight: 400;
    line-height: 1.25;
    padding: 12px 27px;
    font-size: 1rem;
}

.signup-form input {
    padding-top: 12px;
    padding-bottom: 12px;
}

.signup-form select {
    padding-top: 12px;
    padding-bottom: 12px;
    height: 46px !important;
}

.signup-form .col-month {
    padding: 0 15px;
}

.signup-form .form-gender {
    margin-bottom: 15px;
}