.article-content {
  p {
    font-size: 19px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.8);

    margin-top: 16px;
    margin-bottom: 32px;
  }

  h1 {
    margin-top: 64px;
  }

  h1, h2 {
    margin-bottom: 16px;

    &:first-child {
      margin-top: 0;
    }
  }
}
