.article-content {
  p {
    font-size: 19px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.8);

    margin-top: 16px;
    margin-bottom: 32px;
  }

  h1 {
    margin-top: 64px;
  }

  h1, h2 {
    margin-bottom: 16px;

    &:first-child {
      margin-top: 0;
    }

    * {
      text-decoration: inherit;
      font-style: inherit;
      font-weight: inherit;
      color: inherit;

      cursor: inherit;
      pointer-events: none;
    }
  }

  hr {
    border: none;
    display: flex;
    justify-content: center;


    &:after {
      content: "· · · ·";
      line-height: 1;
      font-size: 48px;
      letter-spacing: 8px;
    }

    &.Focused {
      background: rgba(0, 0, 0, 0.05);
    }
  }

  figure {
    font-size: 0;
    line-height: 0;
    display: block;

    margin: 32px 0 32px 0;
    padding: 0;

    img {
      border-radius: 3px;
    }

    &.Focused {
      opacity: 0.66;
    }
  }

  .Avatar {
    margin-bottom: 32px;
  }
}
