@import "colors";
@import "spacing";

.overflow-hidden {
  overflow: hidden;
}

.border-2 {
  border-radius: 2px;

  &-top {
    border-radius: 2px 2px 0 0;
  }

  &-bot {
    border-radius: 0 0 2px 2px;
  }
}

.border-3 {
  border-radius: 3px;

  &-top {
    border-radius: 3px 3px 0 0;
  }

  &-bot {
    border-radius: 0 0 3px 3px;
  }
}

.border-4 {
  border-radius: 4px;

  &-top {
    border-radius: 4px 4px 0 0;
  }

  &-bot {
    border-radius: 0 0 4px 4px;
  }
}

.border-5 {
  border-radius: 5px;
}

.border-8 {
  border-radius: 8px;
}

.border-circle {
  border-radius: 50%;
}

hr:extend(.hr-top, .mtb-16) {
  border: 0;
}

.hr-top {
  border-top: 1px solid @BorderColor;
}

.hr-bot {
  border-bottom: 1px solid @BorderColor;
}

.hr-left {
  border-left: 1px solid @BorderColor;
}

.hr-right {
  border-right: 1px solid @BorderColor;
}

.border {
  border: 1px solid @BorderColor;
}

.border-blue {
  border: 1px solid @Blue;
}

.border-white {
  border: 1px solid @White;
}
