@import "colors";
@import "elevation";

button {
  &.primary, &.secondary, &.clear-elevated, &.clear {
    border-radius: 4px;
    border: 0;
    color: white;

    padding: 8px 24px;

    line-height: 1.5;
    font-size: 16px;
    font-weight: 600;
  }

  &.primary {
    background: @Primary500;
  }

  &.secondary {
    background: @Secondary500;
  }

  &.clear {
    background: white;
    color: black;
  }

  &.clear-elevated:extend(.elevation-1, button.clear) {
    padding-bottom: 7px;
  }
}

.button-action {
  width: 40px;
  height: 40px;
  padding: 8px;
}
