// RGB Variant
@RGB: #07F; // Primary, Blue
@RBG: #0F7;
@GRB: #70F;

@GBR: #7F0;
@BRG: #F07;
@BGR: #F70;

@Blue: #07F;
@Pink: #F07;
@Black: #000;
@White: #FFF;

// UI Color Palette
@Steam: #F5F5F5;

// Visual Indicator
@Success: #20A700;
@Error: #EC152C;

.black {
  color: @Black;
}

.bg-black {
  background: @Black;
}

.white {
  color: @White;

  * > {
    color: @White;
  }
}

.bg-white {
  background: @White;
}

.blue, .blue-hover:hover {
  color: @Blue;
}

.bg-blue {
  background: @Blue;
}

.steam {
  color: @Steam;
}

.bg-steam {
  background: @Steam;
}

.bg-green {
  background: @RBG;
}

.bg-purple {
  background: @GRB;
}

.bg-pink {
  background: @BRG;
}

.bg-orange {
  background: @BGR;
}

.b-a40 {
  color: rgba(0, 0, 0, 0.4);
}

.b-a50 {
  color: rgba(0, 0, 0, 0.50);
}

.b-a60 {
  color: rgba(0, 0, 0, 0.60);
}

.b-a75 {
  color: rgba(0, 0, 0, 0.75);
}

.b-a80 {
  color: rgba(0, 0, 0, 0.80);
}

.b-a85 {
  color: rgba(0, 0, 0, 0.85);
}

.bg-b85 {
  background: #272727;
}

.bg-overlay {
  background: rgba(0, 0, 0, 0.4);
}

.bg-fog {
  background: rgba(200, 200, 200, 0.96);
}

// Visual Indicator Color
.success {
  color: @Success;
}

.bg-success {
  background: @Success;
}

.error {
  color: @Error;
}

.bg-error {
  background: @Error;
}


// Deprecating Below
@Peach100: #F8F0F0;

@Saltpan100: #F1F8F1;
@Saltpan200: #E0F0E0;

@Whisper050: #f9f9fd;
@Whisper100: #F0F0F8;
@Whisper200: #dfdff0;

.bg-peach100 {
  background: @Peach100;
}

.bg-saltpan100 {
  background: @Saltpan100;
}

.bg-saltpan200 {
  background: @Saltpan200;
}

.bg-whisper050 {
  background: @Whisper050;
}

.bg-whisper100 {
  background: @Whisper100;
}

.bg-whisper200 {
  background: @Whisper200;
}
