.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-wrap:extend(.flex) {
  flex-wrap: wrap;
}

.flex-column:extend(.flex) {
  flex-direction: column;
}

.flex-center:extend(.flex) {
  align-items: center;
  justify-content: center;
}

.flex-space-between:extend(.flex) {
  justify-content: space-between;
  align-content: space-between;
}

/**
 Used to place object below
 */
.flex-column-end:extend(.flex-column) {
  justify-content: flex-end;
}

.flex-column-space-between:extend(.flex-column) {
  justify-content: space-between;
}

.flex-row-end:extend(.flex) {
  justify-content: flex-end;
}
