.flex {
  display: flex;
}

.flex-center:extend(.flex) {
  align-items: center;
  justify-content: center;
}

.flex-space-between:extend(.flex) {
  justify-content: space-between;
  align-content: space-between;
}
