html {
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

ul, body, a {
  margin: 0;
}

body {
  line-height: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: black;
  padding: 0;
  border: 0;

  text-decoration: none;
}
.block {
  display: block;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.hover-pointer {
  &:hover {
    cursor: pointer;
  }
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.initial {
  color: initial !important;
  text-decoration: initial !important;
}

@import "flex";
@import "spacing";

@import "text";
@import "colors";

@import "elevation";
@import "border";
@import "z-index";

@import "button";
@import "input";

@import "prismic";

@import "override";
