ul, body, a {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.block {
  display: block;
}

.no-select {
  -webkit-touch-callout: none;
  user-select: none;
}

.hover-pointer {
  &:hover {
    cursor: pointer;
  }
}

.initial {
  color: initial !important;
  text-decoration: initial !important;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

@import "text";
@import "colors";

@import "flex";
@import "spacing";
@import "viewport";

@import "elevation";
@import "border";
@import "z-index";

@import "button";
@import "input";
@import "dialog";

@import "form-generator";
@import "prismic";
@import "article";
