// Should be @deprecated soon.
@import "colors";

.checkbox {
  height: 24px;
  width: 24px;
  position: relative;
  display: inline-block;

  &::before, &::after {
    position: absolute;
    content: "";
    display: inline-block;
  }

  &::before {
    margin: 1px 0;
    height: 22px;
    width: 22px;
    border-radius: 2px;
    border: 2px solid @Black;
  }

  &::after {
    height: 7px;
    width: 11px;
    border-left: 2px solid;
    border-bottom: 2px solid;

    transform: rotate(-45deg);

    left: 5px;
    top: 7px;
  }

  &::after {
    content: none;
  }
}

.checkbox.selected {
  &::after {
    content: "";
    border-color: white;
  }

  &::before {
    border-color: @Black;
    background-color: @Black;
  }

  &::before {
    border-color: @Black;
    background-color: @Black;
  }
}

.input-select {
  select {
    width: 100%;
    display: block;

    height: 34px;

    font-size: 16px;
    line-height: 1.5;

    background: transparent;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

input.clear {
  outline: none;
  border: none;
  background: none;
}
