/**
 Forces you to define the sizing of every single element
 */
.zero {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.w-100, .wh-100 {
  width: 100%;
}

.h-100, .wh-100 {
  height: 100%;
}

.wh-8px {
  width: 8px;
  height: 8px;
}

.wh-16px {
  width: 16px;
  height: 16px;
}

.wh-20px {
  width: 20px;
  height: 20px;
}

.wh-24px {
  width: 24px;
  height: 24px;
}

.wh-32px {
  width: 32px;
  height: 32px;
}

.w-40px, .wh-40px {
  width: 40px;
}

.h-40px, .wh-40px {
  height: 40px;
}

.w-48px, .wh-48px {
  width: 48px;
}

.h-48px, .wh-48px {
  height: 48px;
}

.w-64px, .wh-64px {
  width: 64px;
}

.h-64px, .wh-64px {
  height: 64px;
}

.w-80px, .wh-80px {
  width: 80px;
}

.h-80px, .wh-80px {
  height: 80px;
}

/**
 container default
 */
.container:extend(.w-100) {
  max-width: 1400px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 24px;
  padding-right: 24px;

  @media (min-width: 1200px) {
    padding-right: 80px;
    padding-left: 80px;
  }
}

/**
 Forces all container to be padding 24px, cascading from top
 */
.gutter-24 {
  .container {
    @media (min-width: 1200px) {
      padding-right: 24px;
      padding-left: 24px;
    }
  }
}

.gutter {
  width: 24px;
  min-height: 1px;

  @media (min-width: 1200px) {
    width: 80px;
  }
}

.container-full:extend(.container) {
  padding-left: 0;
  padding-right: 0;
}

.container-1400:extend(.container) {
  max-width: 1400px;
}

.container-1200:extend(.container) {
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;

  @media (min-width: 1200px) {
    padding-right: 80px;
    padding-left: 80px;
  }
}

.container-768:extend(.container) {
  max-width: 768px;
  padding-left: 24px;
  padding-right: 24px;
}

.container-remove-gutter {
  margin-left: -24px !important;
  margin-right: -24px !important;
  width: calc(100% + 48px) !important;

  @media (min-width: 1200px) {
    margin-left: -80px !important;
    margin-right: -80px !important;
    width: calc(100% + 160px) !important;
  }
}

.container-min-height {
  min-height: calc(100vh - 64px);
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.position-0 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.absolute-0:extend(.absolute, .position-0) {
}

/**
  Aspect ratio utility
 */
.aspect:extend(.relative, .w-100) {
  > *:extend(.absolute-0) {
  }

  // Width: 100%, Height: 30%
  &.r-10-3 {
    padding-top: 30%;
  }

  // Width: 100%, Height: 40%
  &.r-5-2 {
    padding-top: 40%;
  }

  // Width: 100%, Height: 50%
  &.r-2-1 {
    padding-top: 50%;
  }

  // Width: 100%, Height: 60%
  &.r-5-3 {
    padding-top: 60%;
  }

  // Width: 100%, Height: 60%
  &.r-5-4 {
    padding-top: 80%;
  }

  // Width: 100%, Height: 100%
  &.r-1-1 {
    padding-top: 100%;
  }

  // Width: 100%, Height: 130%
  &.r-10-12 {
    padding-top: 120%;
  }
}

.m-0 {
  margin: 0 !important;
}

.m-8 {
  margin: 8px;
}

.ml-4, .mlr-4 {
  margin-left: 4px;
}

.mr-4, .mlr-4 {
  margin-right: 4px;
}

.ml-8, .mlr-8 {
  margin-left: 8px;
}

.mr-8, .mlr-8 {
  margin-right: 8px;
}

.ml-16, .mlr-16 {
  margin-left: 16px;
}

.mr-16, .mlr-16 {
  margin-right: 16px;
}

.ml-24, .mlr-24 {
  margin-left: 24px;
}

.mr-24, .mlr-24 {
  margin-right: 24px;
}

.ml-32, .mlr-32 {
  margin-left: 32px;
}

.mr-32, .mlr-32 {
  margin-right: 32px;
}

.mt-4, .mtb-4 {
  margin-top: 4px;
}

.mb-4, .mtb-4 {
  margin-bottom: 4px;
}

.mt-8, .mtb-8 {
  margin-top: 8px;
}

.mb-8, .mtb-8 {
  margin-bottom: 8px;
}

.mt-16, .mtb-16 {
  margin-top: 16px;
}

.mb-16, .mtb-16 {
  margin-bottom: 16px;
}

.mt-24, .mtb-24 {
  margin-top: 24px;
}

.mb-24, .mtb-24 {
  margin-bottom: 24px;
}

.mt-32, .mtb-32 {
  margin-top: 32px;
}

.mb-32, .mtb-32 {
  margin-bottom: 32px;
}

.mt-48, .mtb-48 {
  margin-top: 48px;
}

.mb-48, .mtb-48 {
  margin-bottom: 48px;
}

.mt-64, .mtb-64 {
  margin-top: 64px;
}

.mb-64, .mtb-64 {
  margin-bottom: 64px;
}

.mt-80, .mtb-80 {
  margin-top: 80px;
}

.mb-80, .mtb-80 {
  margin-bottom: 80px;
}

.m--4 {
  margin: -4px;
}

.m--6 {
  margin: -6px;
}

.m--8 {
  margin: -8px;
}

.m--12 {
  margin: -12px;
}

.m--16 {
  margin: -16px;
}

.m--24 {
  margin: -24px;
}

.p-4 {
  padding: 4px;
}

.p-4-12 {
  padding: 4px 12px;
}

.p-6 {
  padding: 6px;
}

.p-6-12 {
  padding: 6px 12px;
}

.p-8 {
  padding: 8px;
}

.p-8-12 {
  padding: 8px 12px;
}

.p-12 {
  padding: 12px;
}

.p-16 {
  padding: 16px;
}

.p-24 {
  padding: 24px;
}

.p-32 {
  padding: 32px;
}

.p-8-16 {
  padding: 8px 16px;
}

.p-16-24 {
  padding: 16px 24px;
}

.p-16-24-20 {
  padding: 16px 24px 20px;
}

.p-18-24 {
  padding: 18px 24px;
}


.p-24-32 {
  padding: 24px 32px;
}

.p-24-0 {
  padding: 24px 0;
}

.pt-4, .ptb-4 {
  padding-top: 4px;
}

.pb-4, .ptb-4 {
  padding-bottom: 4px;
}

.pt-6, .ptb-6 {
  padding-top: 6px;
}

.pb-6, .ptb-6 {
  padding-bottom: 6px;
}

.pt-8, .ptb-8 {
  padding-top: 8px;
}

.pb-8, .ptb-8 {
  padding-bottom: 8px;
}

.pt-12, .ptb-12 {
  padding-top: 12px;
}

.pb-12, .ptb-12 {
  padding-bottom: 12px;
}

.pt-16, .ptb-16 {
  padding-top: 16px;
}

.pb-16, .ptb-16 {
  padding-bottom: 16px;
}

.pt-24, .ptb-24 {
  padding-top: 24px;
}

.pb-24, .ptb-24 {
  padding-bottom: 24px;
}

.pt-32, .ptb-32 {
  padding-top: 32px;
}

.pb-32, .ptb-32 {
  padding-bottom: 32px;
}

.pt-48, .ptb-48 {
  padding-top: 48px;
}

.pb-48, .ptb-48 {
  padding-bottom: 48px;
}

.pt-64, .ptb-64 {
  padding-top: 64px;
}

.pb-64, .ptb-64 {
  padding-bottom: 64px;
}

.pt-128, .ptb-128 {
  padding-top: 128px;
}

.pb-128, .ptb-128 {
  padding-bottom: 128px;
}

.pb-256 {
  padding-bottom: 256px;
}

.border-box {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
