.border-2 {
  border-radius: 2px;

  &-top {
    border-radius: 2px 2px 0 0;
  }
  &-bot {
    border-radius: 0 0 2px 2px;
  }
}

.border-3 {
  border-radius: 3px;

  &-top {
    border-radius: 3px 3px 0 0;
  }
  &-bot {
    border-radius: 0 0 3px 3px;
  }
}

.border-4 {
  border-radius: 4px;

  &-top {
    border-radius: 4px 4px 0 0;
  }
  &-bot {
    border-radius: 0 0 4px 4px;
  }
}

/**
 Forces you to define the sizing of every single element
 */
.zero-spacing {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

/**
 container default
 */
.container {
  width: 100%;
  max-width: 2000px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 24px;
  padding-right: 24px;

  @media (min-width: 1200px) {
    padding-right: 80px;
    padding-left: 80px;
  }
}

/**
 Forces all container to be padding 24px, cascading from top
 */
.gutter-24 {
  .container {
    @media (min-width: 1200px) {
      padding-right: 24px;
      padding-left: 24px;
    }
  }
}

.gutter {
  width: 24px;
  min-height: 1px;

  @media (min-width: 1200px) {
    width: 80px;
  }
}

.container-full:extend(.container) {
  padding-left: 0;
  padding-right: 0;
}

.container-1200:extend(.container) {
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
}

.container-remove-gutter {
  margin-left: -24px !important;
  margin-right: -24px !important;
  width: calc(100% + 48px) !important;

  @media (min-width: 1200px) {
    margin-left: -80px !important;
    margin-right: -80px !important;
    width: calc(100% + 160px) !important;
  }
}
