// Flamingo
@Primary050: #FACFC4;
@Primary100: #F7AF9D;
@Primary200: #F59982;
@Primary300: #F4866A;
@Primary400: #F27253;
@Primary500: #F05F3B;
@Primary600: #EE4C23;
@Primary700: #E73C12;
@Primary800: #D0350E;
@Primary900: #AC2D0E;

// Atoll
@Secondary050: #B8CBD3;
@Secondary100: #8CB2C0;
@Secondary200: #6CA0B5;
@Secondary300: #478DA6;
@Secondary400: #227190;
@Secondary500: #0A6284;
@Secondary600: #095876;
@Secondary700: #084E69;
@Secondary800: #07445C;
@Secondary900: #063A4F;

@Keppel500: #429F9B;
@Falu500: #89201A;

@Juan: #595353;
@Celeste: #CFD1CD;
@Athens: #F4F5F7;

// For Price Data
@Peach100: #F7F0F0;
@Peach200: #EEDFDF;

@Saltpan100: #F1F8F1;
@Saltpan200: #E0F0E0;

@Whisper100: #F1F0F8;
@Whisper200: #E1DFF0;

@Tag: #F0F0F7;
@Nav: #F4F5F7;
@Nav2: #EFF2F7;
@Open: #20A700;
@Close: #EC152C;

p, a, h1, h2, h3, h4, h5, h6, div, span {
  &.Primary050, &.Primary50 {
    color: @Primary050;
  }

  &.Primary100 {
    color: @Primary100;
  }

  &.Primary200 {
    color: @Primary200;
  }

  &.Primary300 {
    color: @Primary300;
  }

  &.Primary400 {
    color: @Primary400;
  }

  &.Primary500, &.Primary {
    color: @Primary500;
  }

  &.Primary600 {
    color: @Primary600;
  }

  &.Primary700 {
    color: @Primary700;
  }

  &.Primary800 {
    color: @Primary800;
  }

  &.Primary900 {
    color: @Primary900;
  }

  &.Secondary050, &.Secondary50 {
    color: @Secondary050;
  }

  &.Secondary100 {
    color: @Secondary100;
  }

  &.Secondary200 {
    color: @Secondary200;
  }

  &.Secondary300 {
    color: @Secondary300;
  }

  &.Secondary400 {
    color: @Secondary400;
  }

  &.Secondary500, &.Secondary {
    color: @Secondary500;
  }

  &.Secondary600 {
    color: @Secondary600;
  }

  &.Secondary700 {
    color: @Secondary700;
  }

  &.Secondary800 {
    color: @Secondary800;
  }

  &.Secondary900 {
    color: @Secondary900;
  }

  &.Keppel500, &.Keppel {
    color: @Keppel500;
  }

  &.Falu500, &.Falu {
    color: @Falu500;
  }
}

.Primary050Bg, .Primary50Bg {
  background-color: @Primary050;
}

.Primary100Bg {
  background-color: @Primary100;
}

.Primary200Bg {
  background-color: @Primary200;
}

.Primary300Bg {
  background-color: @Primary300;
}

.Primary400Bg {
  background-color: @Primary400;
}

.Primary500Bg, .PrimaryBg {
  background-color: @Primary500;
}

.Primary600Bg {
  background-color: @Primary600;
}

.Primary700Bg {
  background-color: @Primary700;
}

.Primary800Bg {
  background-color: @Primary800;
}

.Primary900Bg {
  background-color: @Primary900;
}

.Secondary050Bg, .Secondary50Bg {
  background-color: @Secondary050;
}

.Secondary100Bg {
  background-color: @Secondary100;
}

.Secondary200Bg {
  background-color: @Secondary200;
}

.Secondary300Bg {
  background-color: @Secondary300;
}

.Secondary400Bg {
  background-color: @Secondary400;
}

.Secondary500Bg, .SecondaryBg {
  background-color: @Secondary500;
}

.Secondary600Bg {
  background-color: @Secondary600;
}

.Secondary700Bg {
  background-color: @Secondary700;
}

.Secondary800Bg {
  background-color: @Secondary800;
}

.Secondary900Bg {
  background-color: @Secondary900;
}

.TagBg {
  background-color: @Tag;
}

.NavBg {
  background-color: @Nav;
}

.Open {
  color: @Open;
}

.OpenBg {
  background-color: @Open;
}

.Close {
  color: @Close;
}

.CloseBg {
  background-color: @Close;
}

.White {
  color: white;
}

.WhiteA95 {
  color: rgba(255, 255, 255, 0.95);
}

.WhiteBg {
  background: white;
}

.Black {
  color: black;
}

.BlackA75 {
  color: rgba(0, 0, 0, 0.75);
}

.BlackA80 {
  color: rgba(0, 0, 0, 0.80);
}

.BlackA85 {
  color: rgba(0, 0, 0, 0.85);
}

.BlackA90 {
  color: rgba(0, 0, 0, 0.90);
}

.BlackBg {
  background: black;
}

// Peach, Saltpan & Whisper Colors
.Peach100 {
  color: @Peach100;
}

.Peach100Bg {
  background: @Peach100;
}

.Peach200 {
  color: @Peach200;
}

.Peach200Bg {
  background: @Peach200;
}

.Saltpan100 {
  color: @Saltpan100;
}

.Saltpan100Bg {
  background: @Saltpan100;
}

.Saltpan200 {
  color: @Saltpan200;
}

.Saltpan200Bg {
  background: @Saltpan200;
}

.Whisper100 {
  color: @Whisper100;
}

.Whisper100Bg {
  background: @Whisper100;
}

.Whisper200 {
  color: @Whisper200;
}

.Whisper200Bg {
  background: @Whisper200;
}

.Primary500, .Primary {
  &Border {
    border-color: @Primary500;
  }
}

.Secondary500, .Secondary {
  &Border {
    border-color: @Secondary500;
  }
}
