.flex, .flex-space-between, .flex-center {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
  align-content: space-between;
}
