@Primary050: #F69771;
@Primary100: #F5885D;
@Primary200: #F47949;
@Primary300: #F36B35;
@Primary400: #F36730;
@Primary500: #F15213;
@Primary600: #E34A0D;
@Primary700: #CF430C;
@Primary800: #BC3D0B;
@Primary900: #963008;

@Secondary050: #BEC9D0;
@Secondary100: #ABB6BF;
@Secondary200: #96A3B0;
@Secondary300: #8895A5;
@Secondary400: #7C8C9C;
@Secondary500: #718094;
@Secondary600: #5C697A;
@Secondary700: #46505D;
@Secondary800: #353C46;
@Secondary900: #23262F;

@BgTag: #F0F0F7;
@BgNav: #F4F5F7;
@Open: #20A700;
@Close: #EC152C;

html {
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

.Heading {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-weight: 600;
}

.Heading1:extend(.Heading) {
  font-size: 48px;
  line-height: 65px;
}

h1:extend(.Heading1) {
}

.Heading2:extend(.Heading) {
  font-size: 40px;
  line-height: 55px;
}

h2:extend(.Heading2) {
}

.Heading3:extend(.Heading) {
  font-size: 32px;
  line-height: 43px;
}

h3:extend(.Heading3) {
}

.Heading4:extend(.Heading) {
  font-size: 24px;
  line-height: 33px;
}

h4:extend(.Heading4) {
}

.Text {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-weight: normal;
}

.Large:extend(.Text) {
  font-size: 19px;
  line-height: 26px;
}

.Regular:extend(.Text) {
  font-size: 16px;
  line-height: 22px;
}

.Small:extend(.Text) {
  font-size: 12px;
  line-height: 17px;
}

.Border24 {
  border-radius: 3px;
}

.Border48 {
  border-radius: 4px;
}

.Elevation1 {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.Elevation2 {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23), 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.Elevation3 {
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.26), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.Primary050 {
  .Text {
    color: @Primary050;
  }
  .Bg {
    background-color: @Primary050;
  }
}

.Primary100 {
  .Text {
    color: @Primary100;
  }
  .Bg {
    background-color: @Primary100;
  }
}

.Primary200 {
  .Text {
    color: @Primary200;
  }
  .Bg {
    background-color: @Primary200;
  }
}

.Primary300 {
  .Text {
    color: @Primary300;
  }
  .Bg {
    background-color: @Primary300;
  }
}

.Primary400 {
  .Text {
    color: @Primary400;
  }
  .Bg {
    background-color: @Primary400;
  }
}

.Primary500 {
  .Text {
    color: @Primary500;
  }
  .Bg {
    background-color: @Primary500;
  }
}

.Primary600 {
  .Text {
    color: @Primary600;
  }
  .Bg {
    background-color: @Primary600;
  }
}

.Primary700 {
  .Text {
    color: @Primary700;
  }
  .Bg {
    background-color: @Primary700;
  }
}

.Primary800 {
  .Text {
    color: @Primary800;
  }
  .Bg {
    background-color: @Primary800;
  }
}

.Primary900 {
  .Text {
    color: @Primary900;
  }
  .Bg {
    background-color: @Primary900;
  }
}

.Secondary050 {
  .Text {
    color: @Secondary050;
  }
  .Bg {
    background-color: @Secondary050;
  }
}

.Secondary100 {
  .Text {
    color: @Secondary100;
  }
  .Bg {
    background-color: @Secondary100;
  }
}

.Secondary200 {
  .Text {
    color: @Secondary200;
  }
  .Bg {
    background-color: @Secondary200;
  }
}

.Secondary300 {
  .Text {
    color: @Secondary300;
  }
  .Bg {
    background-color: @Secondary300;
  }
}

.Secondary400 {
  .Text {
    color: @Secondary400;
  }
  .Bg {
    background-color: @Secondary400;
  }
}

.Secondary500 {
  .Text {
    color: @Secondary500;
  }
  .Bg {
    background-color: @Secondary500;
  }
}

.Secondary600 {
  .Text {
    color: @Secondary600;
  }
  .Bg {
    background-color: @Secondary600;
  }
}

.Secondary700 {
  .Text {
    color: @Secondary700;
  }
  .Bg {
    background-color: @Secondary700;
  }
}

.Secondary800 {
  .Text {
    color: @Secondary800;
  }
  .Bg {
    background-color: @Secondary800;
  }
}

.Secondary900 {
  .Text {
    color: @Secondary900;
  }
  .Bg {
    background-color: @Secondary900;
  }
}

.BgTag {
  background-color: @BgTag;
}

.BgNav {
  background-color: @BgNav;
}

.BgOpen {
  background-color: @Open;
}

.BgClose {
  background-color: @Close;
}

.TextOpen {
  color: @Open;
}

.TextClose {
  color: @Close;
}
