html {
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

body {
  line-height: 0;
}

a {
  color: black;
  margin: 0;
  padding: 0;
  border: 0;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.hover-pointer {
  &:hover {
    cursor: pointer;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.float-right {
  float: right !important;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

@import "flex";
@import "spacing";

@import "text";
@import "colors";

@import "elevation";
@import "index";

@import "notification";
@import "button";
@import "input";

@import "overide";
