h5, h6, a, p, ul, li {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 500;
}

.Text {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 500;
}

.TextCenter {
  text-align: center;
}

.Heading {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-weight: 600;
}

h1:extend(.Heading), .Heading1:extend(.Heading) {
  font-size: 32px;
  line-height: 42px;
  color: rgba(0, 0, 0, 0.75);
}

h2:extend(.Heading), .Heading2:extend(.Heading) {
  font-size: 24px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.75);
}

h3:extend(.Heading), .Heading3:extend(.Heading) {
  font-size: 20px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.75);
}

h4:extend(.Heading), .Heading4:extend(.Heading) {
  font-size: 18px;
  line-height: 1.5;
}

.Large:extend(.Text) {
  font-size: 19px;
}

p:extend(.Text), .Regular:extend(.Text) {
  font-size: 16px;
}

.Small:extend(.Text) {
  font-size: 12px;
}

.SmallBold:extend(.Text) {
  font-size: 12px;
  font-weight: 600;
}

.Weight300 {
  font-weight: 300;
}

.Weight400 {
  font-weight: 400;
}

.Weight600 {
  font-weight: 600;
}

.Weight700 {
  font-weight: 700;
}

.Disabled {
  color: rgba(0, 0, 0, 0.75);
}

.text-ellipsis-1-line {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
