<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="/images/icon.png">

    <title>Munch Accounts</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css">
    <link href="/css/tether.min.css" rel="stylesheet" type="text/css">
    <link href="/css/library.css" rel="stylesheet" type="text/css">
    <link href="/css/parsley.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="container">

    <div class="row header">
        <div class="logo logo-image" aria-label="Munch"></div>
    </div>

    <div class="row signup-form">
        <div class="col-sm col-md col-lg col-xl"></div>
        <div class="col-12 col-sm-9 col-md-7 col-lg-5">
            <form action="/login/facebook" method="get">
                <button class="btn btn-block btn-facebook" name="button" type="submit">
                    <span class="text-container">Sign up with Facebook</span>
                </button>
            </form>

            <div class="row login-divider">
                <div class="col">
                    <div class="strike">
                        <span>or</span>
                    </div>
                </div>
            </div>

            <form action="/create" method="post">
                <div class="form-group row">
                    <div class="col-12">
                        <input type="text" class="form-control" name="firstName" placeholder="First name"
                               required data-parsley-error-message="What is your given name?"
                               data-parsley-errors-container=".first-name-error">
                    </div>
                    <div class="col-12 first-name-error col-error">

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <input type="text" class="form-control" name="lastName" placeholder="Last name"
                               required data-parsley-error-message="What is your surname?"
                               data-parsley-errors-container=".last-name-error">
                    </div>
                    <div class="col-12 last-name-error col-error">

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <input type="email" class="form-control" id="inputEmail" name="username" placeholder="Email"
                               required data-parsley-error-message="Please enter your email."
                               data-parsley-errors-container=".email-error">
                    </div>
                    <div class="col-12 email-error col-error">

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <input type="password" class="form-control" id="inputPassword" name="password"
                               placeholder="Password"
                               minlength="8"
                               pattern="^([0-9]+[a-zA-Z]+|[a-zA-Z]+[0-9]+)[0-9a-zA-Z]*$"
                               data-parsley-error-message="Password must contain 8 characters, including at least 1 number and letter."
                               required data-parsley-required-message="Please choose a password."
                               data-parsley-errors-container=".password-error">
                    </div>
                    <div class="col-12 password-error col-error">

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12">
                        <input type="password" class="form-control" data-parsley-equalto="#inputPassword"
                               placeholder="Confirm password"
                               required data-parsley-required-message="Please confirm your password."
                               data-parsley-equalto-message="Please enter the same password."
                               data-parsley-errors-container=".confirm-password-error">
                    </div>
                    <div class="col-12 confirm-password-error col-error">

                    </div>
                </div>

                <label>Date of birth:</label>
                <div class="row no-gutters">
                    <div class="col-3">
                        <input type="number" class="form-control" placeholder="Day" name="dobDay"
                               min="0" max="31"
                               data-parsley-errors-container="#dob-error"
                               required data-parsley-required-message="What day were you born on?">
                    </div>
                    <div class="col-6 col-month">
                        <select class="form-control" name="dobMonth"
                                data-parsley-errors-container="#dob-error"
                                required data-parsley-required-message="What month were you born on?">
                            <option disabled selected>Month</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <input type="number" class="form-control" placeholder="Year" name="dobYear"
                               id="dobYear" required
                               data-parsley-required-message="What year were you born on?"
                               data-parsley-range-message="Sorry, but you don't meet Munch's age requirements."
                               data-parsley-errors-container="#dob-error"
                               data-parsley-debounce="3000"
                               maxlength="4"
                               min="1900" max="2010">
                    </div>
                    <div class="col-12 col-error" id="dob-error">

                    </div>
                </div>

                <div class="row form-gender">
                    <div class="col-12 clearfix">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="gender" value="male"
                                       required
                                       data-parsley-required-message="Please indicate your gender."
                                       data-parsley-errors-container=".gender-error"> Male
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="gender" value="female"
                                       required
                                       data-parsley-required-message="Please indicate your gender."
                                       data-parsley-errors-container=".gender-error">
                                Female
                            </label>
                        </div>
                    </div>
                    <div class="col-12 gender-error">

                    </div>
                </div>

                <button class="btn btn-block btn-munch" name="button" type="submit">
                    <span class="text-container">Sign up</span>
                </button>
            </form>

            <hr/>
            <div class="create-account">
                Already have an account? <a href="/login">Log in</a>
            </div>
            <hr/>

            <div class="signup-terms">
                <p>
                    By clicking on Sign up, you agree to
                    <a href="/legal/terms" target="_blank">Munch's Terms of Use and Privacy Policy</a>.
                </p>
            </div>
        </div>
        <div class="col-sm col-md col-lg col-xl"></div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery-3.1.1.slim.min.js"></script>
<script type="text/javascript" src="/js/tether.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/parsley.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('#dobYear').attr({"max": new Date().getFullYear() - 2});
        $('form').parsley();
    });
</script>
</body>
</html>
